@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  font-weight: 400;
  src: url("../assets/fonts/outfit/Outfit-Regular.otf");
}

@font-face {
  font-family: "Outfit";
  font-weight: 500;
  src: url("../assets/fonts/outfit/Outfit-Medium.otf");
}

@font-face {
  font-family: "Outfit";
  font-weight: 600;
  src: url("../assets/fonts/outfit/Outfit-SemiBold.otf");
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  src: url("../assets/fonts/outfit/Outfit-Bold.otf");
}

@font-face {
  font-family: "CyberwayRiders";
  font-weight: 400;
  src: url("../assets/fonts/cyberway-riders/CyberwayRiders.otf");
}

@font-face {
  font-family: "SamsungSharpSans";
  font-weight: 700;
  src: url("../assets/fonts/samsung/samsungsharpsans-bold.otf");
}

@font-face {
  font-family: "SamsungSharpSans";
  font-weight: 500;
  src: url("../assets/fonts/samsung/samsungsharpsans-medium.otf");
}

@font-face {
  font-family: "SamsungSharpSans";
  font-weight: 400;
  src: url("../assets/fonts/samsung/samsungsharpsans.otf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family:
      Outfit,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
  }

  :root {
    --color-skin-000: 252, 251, 254;
    /* #FCFBFE */
    --color-skin-001: 253, 253, 255;
    /* #FDFDFF */
    --color-skin-002: 70, 69, 103;
    /* #464567 */
    --color-skin-003: 232, 232, 240;
    /* #E8E8F0 */
    --color-skin-004: 34, 21, 51;
    /* #221533 */

    --color-skin-100: 49, 47, 80;
    /* #312F50 */
    --color-skin-101: 25, 24, 36;
    /* #191824 */
    --color-skin-102: 28, 28, 44;
    /* #1C1C2C */

    --color-skin-200: 168, 168, 199;
    /* #A8A8C7 */
    --color-skin-201: 136, 129, 157;
    /* #88819D */
    --color-skin-202: 204, 204, 213;
    /* #CCCCD5 */
    --color-skin-203: 53, 52, 74;
    /* #35344A */
    --color-skin-204: 28, 27, 46;
    /* #1C1B2E */

    --color-skin-300: 40, 39, 61;
    /* #28273D */
    --color-skin-301: 40, 39, 61;
    /* #28273D */
    --color-skin-302: 255, 255, 255;
    /* #FFFFFF */

    --color-pink-100: 243, 166, 255;
    /* #F3A6FF*/
    --color-pink-80: 200, 126, 213;
    /* #C87ED5*/
    --color-pink-60: 243, 166, 255;
    /* #F3A6FF*/

    --color-green-100: 118, 242, 116;
    /* #76F274*/
    --color-green-80: 155, 255, 153;
    /* #9BFF99*/
    --color-green-20: 231, 253, 222;
    /* #E7FDDE*/
    --color-green-10: 118, 242, 116;
    /* #76F274*/

    --color-red-100: 255, 0, 92;
    /* #FF005C*/
    --color-red-80: 255, 40, 130;
    /* #FF2882*/

    --color-gray-100: 168, 168, 199;
    /* #A8A8C7 */
    --color-gray-60: 136, 129, 157;
    /* #88819D */
    --color-gray-40: 204, 204, 213;
    /* #CCCCD5 gray-40 */
    --color-gray-20: 53, 52, 74;
    /* #35344A */
    --color-gray-10: 28, 27, 46;
    /* #1C1B2E */

    --color-text-base: 248, 248, 255;
    /* #F8F8FF */
    --color-text-alt: 232, 232, 240;
    /* #E8E8F0 */
    --color-text-muted: 136, 129, 157;
    /* #88819D */
    --color-text-inverted: 40, 39, 61;
    /* #28273D */

    --color-bg-base: 28, 28, 44;
    /* #1C1C2C */
    --color-bg-alt: 25, 24, 36;
    --color-bg-card: 40, 39, 61;
    /* #28273D */
    --color-bg-muted: 53, 52, 74;
    /* #35344A */
    --color-bg-base-inverted: 34, 21, 51;
    /* #221533 */
    --color-bg-card-inverted: 40, 39, 61;
    /* #28273D */
    --color-bg-success: 118, 242, 116;
    /* #76F274*/
    --color-bg-hotkey: 252, 251, 254;
    /* #FCFBFE */
    --color-bg-countdown: 252, 251, 254;
    /* #FCFBFE */

    --color-shadow-base: 11, 10, 31;
    /* #0B0A1F */
    --color-shadow-alt: 28, 28, 103;
    /* #1C1C67 */

    --color-border-base: 53, 52, 74;
    /* #35344A */
    --color-border-alt: 25, 24, 36;
    /* #191824 */

    --color-iris-100: 93, 95, 239;
    /* #5D5FEF */
  }

  .dark {
    --color-skin-000: 252, 251, 254;
    /* #FCFBFE */
    --color-skin-001: 253, 253, 255;
    /* #FDFDFF */
    --color-skin-002: 70, 69, 103;
    /* #464567 */
    --color-skin-003: 232, 232, 240;
    /* #E8E8F0 */
    --color-skin-004: 34, 21, 51;
    /* #221533 */

    --color-skin-100: 49, 47, 80;
    /* #312F50 */
    --color-skin-101: 25, 24, 36;
    /* #191824 */
    --color-skin-102: 28, 28, 44;
    /* #1C1C2C */

    --color-skin-200: 168, 168, 199;
    /* #A8A8C7 */
    --color-skin-201: 136, 129, 157;
    /* #88819D */
    --color-skin-202: 204, 204, 213;
    /* #CCCCD5 */
    --color-skin-203: 53, 52, 74;
    /* #35344A */
    --color-skin-204: 28, 27, 46;
    /* #1C1B2E */

    --color-skin-300: 40, 39, 61;
    /* #28273D */
    --color-skin-301: 40, 39, 61;
    /* #28273D */
    --color-skin-302: 255, 255, 255;
    /* #FFFFFF */

    --color-pink-100: 243, 166, 255;
    /* #F3A6FF*/
    --color-pink-80: 200, 126, 213;
    /* #C87ED5*/
    --color-pink-60: 243, 166, 255;
    /* #F3A6FF*/

    --color-green-100: 118, 242, 116;
    /* #76F274*/
    --color-green-80: 155, 255, 153;
    /* #9BFF99*/
    --color-green-20: 231, 253, 222;
    /* #E7FDDE*/
    --color-green-10: 118, 242, 116;
    /* #76F274*/

    --color-red-100: 255, 0, 92;
    /* #FF005C*/
    --color-red-80: 255, 40, 130;
    /* #FF2882*/

    --color-gray-100: 168, 168, 199;
    /* #A8A8C7 */
    --color-gray-60: 136, 129, 157;
    /* #88819D */
    --color-gray-40: 204, 204, 213;
    /* #CCCCD5 gray-40 */
    --color-gray-20: 53, 52, 74;
    /* #35344A */
    --color-gray-10: 28, 27, 46;
    /* #1C1B2E */

    --color-text-base: 248, 248, 255;
    /* #F8F8FF */
    --color-text-alt: 232, 232, 240;
    /* #E8E8F0 */
    --color-text-muted: 136, 129, 157;
    /* #88819D */
    --color-text-inverted: 40, 39, 61;
    /* #28273D */

    --color-bg-base: 28, 28, 44;
    /* #1C1C2C */
    --color-bg-alt: 25, 24, 36;
    --color-bg-card: 40, 39, 61;
    /* #28273D */
    --color-bg-muted: 53, 52, 74;
    /* #35344A */
    --color-bg-base-inverted: 34, 21, 51;
    /* #221533 */
    --color-bg-card-inverted: 40, 39, 61;
    /* #28273D */
    --color-bg-success: 118, 242, 116;
    /* #76F274*/
    --color-bg-hotkey: 252, 251, 254;
    /* #FCFBFE */
    --color-bg-countdown: 252, 251, 254;
    /* #FCFBFE */

    --color-shadow-base: 11, 10, 31;
    /* #0B0A1F */
    --color-shadow-alt: 28, 28, 103;
    /* #1C1C67 */

    --color-border-base: 53, 52, 74;
    /* #35344A */
    --color-border-alt: 25, 24, 36;
    /* #191824 */
  }
}

.body {
  background-color: #0b0d14;
  color: #ffffff;
  font-size: 12px;
}

/* Virtual List */
.vlist {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-gray-20)) transparent;
}

.vlist::-webkit-scrollbar {
  width: 10px;
}

.vlist::-webkit-scrollbar-track {
  background-color: transparent;
}

.vlist::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(var(--color-gray-20));
  border-radius: 9999px;
}
